* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(to right, #659999, #f4791f);
}
header {
  top: 0;
  width: 100%;
  padding: 15px;
  z-index: 1;
}
h1 {
  text-align: center;
  padding: 20px;
  border: 4px solid black;
  border-style: double;
  background: linear-gradient(to right, #fc354c, #0abfbc);
}
.container {
  margin: 20px;
}
.res {
  font-size: 35px;
}
#detail {
  margin-top: 10px;
}
#code {
  text-align: center;
  font-size: 30px;
}
#sel {
  margin: 20px;
  text-align: center;
  color: gold;
}
.box #para2 {
  font-size: 30px;
  text-align: center;
  color: rgb(0, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
}
.box #para2 span {
  font-size: 35px;
  color: rgb(193, 236, 201);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#last {
  text-align: center;
  margin: 20px;
}
