* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  body {
    background-color: aqua;
    /* margin: 15px; */
  }
  h1 {
    text-align: center;
    border: 4px solid #000000;
    padding: 20px;
    border-style: double;
  }
  h2 {
    text-align: center;
  }
  header {
    width: 100%;
    position: fixed;
    background: aqua;
    padding: 15px;
    top: 0;
    z-index: 1;
  }
  main {
    margin-top: 18vh;
    padding: 15px;
  }
  label {
    margin: 7px;
  }
  .left_label {
    width: 130px;
    display: inline-block;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  #name,
  #mothername,
  #fathername,
  #phonenumber,
  #email {
    width: 17vw;
  }
  
  #address {
    width: 28vw;
  }
  
  table {
    margin-top: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 15px;
  }
  
  th,
  td {
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  .box-pink {
    background: rgb(255, 0, 98);
    height: 100px;
    width: 100px;
  }
  
  .box-green {
    background: green;
    height: 100px;
    width: 100px;
    position: static;
  }
  
  .box-red {
    position: relative;
    background: red;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
  }
  
  .box-black {
    background: black;
    width: 100px;
    height: 100px;
    position: static;
  }
  
  .container {
    /* background: rgb(255, 132, 132); */
    position: relative;
  }
  
  .box-blue {
    position: absolute;
    background: rgb(0, 13, 255);
    height: 100px;
    width: 100px;
    right: 5px;
  }
  .box-lightgreen {
    background: rgb(40, 189, 35);
    height: 100px;
    width: 100px;
  }
  
  .container2 {
    position: relative;
    /* background: rgb(255, 132, 132); */
    width: 50%;
    margin: 0 auto;
    height: 200px;
  }
  .box-violet {
    background: violet;
    height: 100px;
    width: 100px;
    position: fixed;
    right: 5px;
  }
  
  .box-indigo {
    background: rgb(37, 3, 62);
    height: 100px;
    width: 100px;
  }
  
  p.inline {
    display: inline;
    color: red;
  }
  p.block {
    display: block;
    color: red;
  }
  p.inline-block {
    display: inline-block;
    color: red;
  }
  .prop {
    text-align: center;
    border: 4px solid black;
    border-style: dotted;
    width: 75%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #pos {
    margin-bottom: 10px;
  }
  .detail {
    font-family: "Times New Roman", Times, serif;
  }
  h2,
  h3 {
    margin-top: 10px;
  }
  

  .box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
  }
 
  #box1 {
    background-color: salmon;
    position: static;
     
    top: 10px;
    left: 10px;
  }
  #box2 {
    background-color: darkkhaki;
  }
  #box3 {
    background-color: forestgreen;
  }
  
   
  #box4 {
    background-color: salmon;
  }
  #box5 {
    background-color: darkkhaki;
    position: relative;
    
    top: 20px;
    left: 30px;
  }
  #box6 {
    background-color: forestgreen;
  }
  
  
  #box7 {
    background-color: salmon;
  }
  #box8 {
    background-color: darkkhaki;
  }
  #box9 {
    background-color: forestgreen;
    position: absolute;
    right: 5px;
  }
  
   
  #fix {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
  }
  
   
  .container {
    width: 100%;
    height: 300px;
    border: 2px solid black;
    background: linear-gradient(#dea6a6, #9198e5);
    overflow: scroll;
  }
  
  #sticky {
  position: sticky;
  position: -webkit-sticky;
  background: #f83d23;
  width: 100px;
  height: 100px;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #000;
  color: #fff;
}
.extra,
#wrapper {
  width: 75%;
  margin: auto;
  background-color: #ccc;
}
#wrapper {
  height: 800px;
}
.extra {
  height: 100px;
}
body {
  font-family: georgia;
  height: 1000px;
}
h4 {
  text-align: center;
}
@media (min-height: 768px) {
  #wrapper{
    height: 2000px;
  }
}
  
.menu{
  height: 100px;
  background-color: #B2D6FF;
}

.sidebar{
  height: 200px;
  width: 200px;
  background-color: #F09A9D;
}

.content{
  height: 400px;
  background-color: #F5CF8E;
}

.footer{
  height: 100px;
  background-color: #D6E9FE;
}
  
  
  #vis {
    visibility: visible;
  }
  #nvis {
    visibility: hidden;
  }